<div class="wui-component">



    
    <div id="confirm-root">
        <div class="richtext">
            <p class="il-title-4">We have sent an email to you for veryfication.</p>
            <p class="il-title-5">Follow the link provided to finalize the signup process.</p>
        </div>


    
        <hr class="hr hr-1 hr-space-5">
 
        
       
        
        <p class="il-title-6">Didn't receive the email?</p>
        <div class="v-space v-space-2"></div>
        <button type="button"  class="wui-btn wui-btn-prime wui-btn-primer" id="resend-confirmation">Resend confirmation</button>
    
        

    </div>
</div>
 
 

 
 
 

<style>
 

 
    #confirm-root{
        text-align: center;
        padding: 110px 0;
        max-width: 888px;
        margin: auto;

    }

 
</style>
 
