<button class="wui-btn wui-btn-outline" id="add-plugin-btn"><span class="material-icons">
add
</span><lang>Add Plugin</lang></button>
<br>
<br>


<div class="wtab active wtab-content">
<div id="plugins-list">

</div>
</div>


<template id="add-plugin-template">
    <div class="wui-component" id="add-plugin-wrapper">
        <div class="field-holder">
            <label><lang>Plugin slug</lang></label>
            <input type="text" name="slug" placeholder="e.g. plugin-name" autocomplete="off">
        </div>

        <!--<div class="field-holder">
            <label><lang>Plugin version</lang></label>
            <input type="number" step="any" name="version" min="0" value="0" placeholder="e.g. 1.0.1" autocomplete="off">
        </div>-->
    </div>

</template>


