
<script>
    $(document).ready(function(){
        w7.xhr.logged(function(logged){
            if(logged) {
               goToHome()
            }
        });
    })
</script>

<div class="wui-card wui-card-in wui-component small-action-card">
    <div class="wui-card-header">
        <h3>Password reset</h3>
    </div>
    <form onsubmit="w7.handle.resetPassword(event);">
        <div class="field-holder">
            <label>Email</label>
            <input type="email" required name="email" placeholder="email@example.com" />
            <span class="error" data-error data-path="email"></span>
        </div>
        <span class="error" data-error data-path="credentials"></span>
        <div class="wui-card-footer">
            <button type="submit" class="btn-position-main"><lang>Reset password</lang></button>
            <a href="/" class="wui-btn-link btn-position-alt"><lang>Back</lang></a>
        </div>
    </form>
</div>
